### General
.ignore
.idea
.ignore
.projectile


## UNITY_3D
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/Assets/AssetStoreTools*
/Assets/ConsoleE*
/Assets/UberLogger-master*
/Assets/VSCode*
/.vscode/
*.csproj
*.csproj.meta
*.unityproj
*.unityproj.meta
*.tmp
*.tmp.meta
*.user
*.user.meta
*.userprefs
*.userprefs.meta
*.apk
*.apk.meta
*.unitypackage
*.unitypackage.meta
*.sln
*.sln.meta
*.pyc
*.pyc.meta


### Mac
*.DS_Store
.AppleDouble
.LSOverride


### Windows
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.stackdump
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk
.vs
